.App {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.display-box {
  width: 25%;
  border: 1px solid black;
  margin: 5px;
  text-decoration: none;
  color: black;
}

.mini-container {
  border: 1px dashed blue;
  margin: 5px;
}

